footer {
  display: flex;
  margin-top: 240px;
  width: 100vw;
  justify-content: center;
}
#foot {
  width: 1280px;
  background-color: black;
  height: 517px;
}
#footmenu {
  position: absolute;
  margin-top: 120px;
  margin-left: 108px;
}
.footertitle {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.footermenu {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}
.footermenu a p {
  color: white;
}
#footbuttons {
  position: absolute;
  margin-top: 120px;
  margin-left: 864px;
}
#footertextbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 308px;
  height: 86px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 32px;
}
#footInnerCon span {
  color: black;
  font-size: 20px;
  font-weight: 500;
  z-index: 10;
  padding-right: 59px;
}
.footBtsWrap {
  float: left;
  margin-right: 16px;
}
.footBts {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
#haradesignstudio {
  background-image: url(../img/sns/haraDesignInstitute.png);
  background-position: 67% 50%;
  background-repeat: no-repeat;
  background-color: white;
}
#designstudio {
  background-image: url(../img/sns/designCulture.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
}
#designboom {
  background-image: url(../img/sns/designBoom.png);
  background-position: 57% 50%;
  background-repeat: no-repeat;
  background-color: #FFFB07;
}
@media (max-width: 1400px) {
  #foot {
    width: 800px;
    background-color: black;
    height: 517px;
  }
  #footmenu {
    margin-top: 80px;
    margin-left: 50px;
  }
  #footbuttons {
    margin-top: 80px;
    margin-left: 440px;
  }
}