header {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 210px;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#headLogo {
  margin-right: 462px;
}
header ul {
  width: 710px;
  display: flex;
  justify-content: space-between;
}
.headMenu {
  font-size: 24px;
  font-weight: 600;
}
.headUnderline {
  height: 2px;
  background-color: black;
}
.headUnderline.line1 {
  margin-top: 8px;
  display: none;
}
.headUnderline.line2 {
  margin-top: 7px;
  display: none;
}
#activeText {
  color: #B9AA96;
}
#activeUnderline {
  display: block;
  background-color: #B9AA96;
}

@media (max-width: 1400px) {
  #headLogo {
    margin-right: 240px;
  }
  header ul {
    width: 454px;
  }
  .headMenu {
    font-size: 20px;
  }
}