article {
  display: block;
  width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
  font-weight: 800;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
h4 {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 500;
}
td {
  height: 100px;
}
#midHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1280px;
  height: 557px;
  background-image: url(../img/midHead_img4.png);
}
#sebPart {
  width: 1280px;
  margin: 0 auto;
}
.bannerLine {
  width: 750px;
  height: 2px;
  background-color: white;
}
.bannerText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 80px;
  display: inline;
}
.bannerText.back {
  letter-spacing: 0;
}
#midHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1280px;
  height: 557px;
  background-color: aquamarine;
}
#mainTable {
  width: 1280px;
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: 48px;
  border-right: none;
  border-left: none;
}
#mainTable tr, td {
  border: 2px solid black;
  border-right: none;
  border-left: none;
}
.tableContext {
  color: white;
  width: 632px;
  margin: 80px 108px 80px 540px;
}
.tableText {
  font-size: 20px;
  line-height: 40px;
}
.tableBlank {
  width: 632px;
  height: 32px;
}
.devideLine {
  width: 38px;
  height: 2px;
  background-color: black;
  margin: 48px 0;
}
.mainText {
  margin-top: 153px;
  margin-bottom: 80px; 
  width: 444px;
  font-size: 20px;
  line-height: 40px;
}
.workConI {
  margin-top: 80px;
}
#workCon1 {
  padding-left: 84px;
}
#workCon2 {
  padding-left: 14px;
}
#workCon4 {
  padding-left: 156px;
}
#workCon6 {
  padding-left: 104px;
}
#workCon7 {
  padding-left: 30px;
}
@media (max-width: 1400px) {
  .wrap {
    width: 800px;
  }
  #sebPart {
    width: 800px;
  }
  article {
    width: 800px;
  }
  .bannerText {
    letter-spacing: 40px;
  }
  #midHead {
    margin: 0 auto;
    width: 800px;
    height: 400px;
  }
  #mainTable {
    width: 800px;
  }
  .bannerLine {
    width: 430px;
  }
  .mainText {
    margin-top: 0;
  }
  .missCon {
    display: none;
  }
  tr td div img {
    width: 800px;
  }
  #workCon1 {
    display: none;
  }
  #workCon2 {
    padding-left: 0;
  }
  #workCon4 {
    padding-left: 0;
  }
  #workCon6 {
    padding-left: 0;
  }
  #workCon7 {
    padding-left: 0;
  }
}